body {
  width: 25rem;
  max-height: 100rem;
  font-family: Arial, sans-serif;
  background-color: rgb(240, 240, 240);
}

#spinnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 1rem;
}

.spinner {
  border: 4px solid rgba(151, 151, 151, 0.5);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #353535;
  animation: spin 1s linear infinite;
  display: inline-block;
}

.spinnerText {
  margin-left: 1rem;
  font-size: 1rem;
  color: #353535;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#signIn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.5rem;
  height: max-content;
  padding: 1rem;
}

#welcome {
  font-size: 1.5rem;
  font-weight: bold;
}

#signInButton {
  background-color: #4285f4;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#signInButton:hover {
  background-color: #357ae8;
}

#unauthenticated,
#authenticated,
#wordListContainer {
  display: none;
}

#wordListContainer {
  height: max-content;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #fff;
  border-radius: 0.6rem;
}

#wordList {
  padding: 0.5rem;
}

#wordActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  visibility: hidden;
}

.wordText:hover > #wordActions {
  visibility: visible;
}

h2 {
  margin: 0.6rem;
}

h3 {
  margin: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
}

li {
  display: flex;
  align-items: center;
}

li > p {
  margin: 0;
  padding: 0.5rem 1rem;
  color: grey;
  font-size: 1rem;
}

#loadingWords {
  font-size: 1rem;
  color: #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 1rem 1rem 0.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.6rem;
}
